/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
	border: 1px solid;
    margin: 0 auto;
    background-color: black;
}

.main{
	background-color: #159357;
	width: 1345px;
	margin: 0 auto;
	height: 20px;
	margin-top: 10px;
	  
}
.main_head{
	width: 1345px;
    height: auto;
    border: 1px solid;
	
}

.log_out
{
	 background: url(../images/logout.png) no-repeat;
    width: 50px;
    float: right;
    height: 50px;
    margin: 20px 20px 0px 0px;

}
.img{
	background: url(../images/Logo.png) no-repeat;
width: 193px;
margin: 26px 0px 0px 26px;
height: 35px;
}
.form{
     border: 2px solid #999;
	width: 800px;
	height: auto;
	border-radius: 30px;
	box-shadow: 10px 10px 5px #888888;
	margin:0 auto;
	background: #E5E4D7;
}
.Demographic_Data{
       margin: 20px 0px 20px -120px;
    width: 770px;
    border: 0px solid #999;
    height: 30px;
    background-color: #159357;
}
center {
    font-size: 25px;
    font-weight: bold;
    color: azure;
}
.Details_of_Malignant_lesion{
	
    margin: 30px 0px 30px -120px;
    width: 770px;
    border: 0px solid #999;
    height: 30px;
    background-color: #159357;
}
center {
    font-size: 25px;
    font-weight: bold;
    color: azure;
}

.Histological_Diagnosis{
	    margin: 30px 0px 30px -120px;
    width: 770px;
    border: 0px solid #999;
    height: 30px;
    background-color: #159357;
}
center {
    font-size: 25px;
    font-weight: bold;
    color: azure;
}
.Management{
	    margin: 30px 0px 30px -120px;
    width: 770px;
    border: 0px solid #999;
    height: 30px;
    background-color: #159357;
}
center {
    font-size: 25px;
    font-weight: bold;
    color: azure;
}

.Risk_Factors_History{
	
	    margin:30px 0px 30px -120px;
    width: 770px;
    border: 0px solid #999;
    height: 30px;
    background-color: #159357;
}
center {
    font-size: 25px;
    font-weight: bold;
    color: azure;
}
.footer{
	     border: 1px solid;
    margin: 65px auto;
    height: 25px;
    background: #159357;
    text-align: center;
    vertical-align: middle;
	
}
.valid {
     margin: 0px 80px 0px 0px;
    width: 166px;
    float: right;

}

.form_button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
height:50px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  display:block;
  float:left;
  margin: 13px 0px 0px 0px;
  border-radius: 13px;
  width: 100px;
}

.form_button:hover {
    background: #43A047;
}

